@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', sans-serif;
    
    /* Semantic Colors */
    --color-primary: var(--color-slate-800);
    --color-primary-hover: var(--color-slate-700);
    --color-primary-light: var(--color-slate-100);
    
    --color-background: #f8f9fc;
    --color-card: #ffffff;
    --color-border: var(--color-slate-200);
    --color-border-hover: var(--color-slate-300);
    
    /* Radii */
    --radius-card: 1rem;
    --radius-button: 0.5rem;
}

@layer base {
    body {
        @apply bg-background text-slate-800 font-sans antialiased;
    }
}